<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cityboys.golfapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_golf_ball"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profile"
            android:label="@string/golfer_name" >
        </activity>
        <activity
            android:name=".Skorkort"
            android:label="@string/title_skorkort" >
        </activity>
        <activity
            android:name=".Rastimar_master"
            android:label="@string/title_rastimar" >
        </activity>
        <activity
            android:name=".Test"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".LausirTimar"
            android:label="@string/title_activity_lausir_timar" >
        </activity>
        <activity
            android:name=".SkorkortVollur"
            android:label="@string/title_skorkort_vollur" >
        </activity>
        <activity
            android:name=".SpilaVoll"
            android:label="@string/title_spila_voll" >
        </activity>
    </application>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- To access the internet -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
